<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translator</title>
    <link rel="stylesheet" href="/translate/static/style.css">
  </head>
  <body>
    <div class="section">
      <div class="main">
        <h1>Translator</h1>
        <form id="translationForm" method="get" action="/translate">
          <label for="translate"
            >Masukkan kata yang ingin di terjemahkan:</label
          >
          <input type="text" id="translateInput" required />
          <br />
          <label for="pilihan"
            >Translate ke bahasa Inggris atau bahasa Jepang?</label
          >
          <br />
          <br />
          <select id="pilihanInput" required>
            <option value="bahasa inggris">Bahasa Inggris</option>
            <option value="bahasa jepang">Bahasa Jepang</option>
          </select>
          <br />
          <button type="button" onclick="doTranslation()" id="btn">Terjemahkan</button>
        </form>

        <div class="hasil">
          <p type="text" id="resultContainer"></p>
        </div>
      </div>
    </div>

    <script>
      function doTranslation() {
        var translateInput = document.getElementById("translateInput").value;
        var pilihanInput = document.getElementById("pilihanInput").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/translate", true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
            var response = JSON.parse(xhr.responseText);
            if ("terjemahan" in response) {
              document.getElementById("resultContainer").innerHTML =
                "<p>" + response.terjemahan + "</p>";
            } else {
              alert("Error: " + response.error);
            }
          }
        };
        xhr.send(
          "translate=" +
            encodeURIComponent(translateInput) +
            "&pilihan=" +
            encodeURIComponent(pilihanInput)
        );
      }
    </script>
  </body>
</html>
