<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WEB PRIBADI</title>
  <link rel="stylesheet" type="text/css" href="/translate/static/style/style.css" />
  <link rel="stylesheet" type="text/css" href="/translate/static/style/index.css" />
  <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
  <div class="section">
    <div class="main">
      <h1>Terjemahan Nama Hewan</h1>
      <form id="translationForm" method="post">
        <label for="translate">Masukkan nama hewan yang ingin di terjemahkan:</label><br />
        <input type="text" id="translateInput" required placeholder="contoh : kucing" /><br />
        <label for="pilihan">Pilih Bahasa : </label><br /><br />
        <select id="pilihanInput" required>
          <option value="">Bahasa...</option>
          <option value="id">Bahasa Indonesia</option>
          <option value="en">Bahasa Inggris</option>
          <option value="ja">Bahasa Jepang</option>
        </select><br />
        <div class="btn">
          <button type="button" id="btn-translate">Terjemahkan</button>
          <div class="btn-link">
            <a href="/" class="back">Kembali</a>
          </div>
        </div><br />
      </form>
      <div class="hasil">
        <p type="text" id="resultContainer"></p>
      </div>
    </div>
  </div>

  <script src="/translate/static/js/sc.js"></script>
  <script src="/translate/static/js/db.js"></script>
  <script>
    feather.replace();
  </script>
</body>
</html>
