<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEB PRIBADI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/translate/static/style/style.css"
    />
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <div class="alert">
      <h1>Hai! Selamat Datang...</h1>
      <h3>Mari memulai !</h3>
      <a href="/translate" id="btnNext">Selanjutnya</a>
    </div>

    <script src="/translate/static/js/sc.js"></script>
    <script src="/translate/static/js/db.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
